extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        //- slider
        section.index__slider
            .slider
                .swiper-container.slider__container
                    .swiper-wrapper
                        each i in [1,2,3]
                            .swiper-slide
                                div(style='background-image: url(images/content/main/banner/bg.jpg)').slide
                                    .container
                                        .row
                                            .slide__content.content
                                                .slide__img1
                                                    img(src='images/content/main/banner/1.png').slide__img1-img
                                                div(style='padding-top: 20px;')
                                                    .slide__title СМАРТ-ТЕРМИНАЛ
                                                    .slide__name ЭВОТОР 7.2
                                                    .slide__price 19 900 руб.
                                                    a(href='/').button.slide__button Подробнее
                                                .slide__img2
                                                    img(src='images/content/main/banner/2.png').slide__img2-img

                .slider__nav
                    .container
                        button(type='button').slider__prev.slider__arrow
                            +icon('left', 'slider__arrow-svg')
                        button(type='button').slider__next.slider__arrow
                            +icon('right', 'slider__arrow-svg')
                .slider__pag

        //- catalog
        section.index__catalog
            .icats
                .container
                    .row
                        each i,x in icats
                            a(href='catalog.html').icat
                                .icat__img
                                    img(src='images/content/main/catalog/' + (x + 1) + '.png').icat__img-img
                                .icat__title= i
                    //- hidden
                    .icats__hidden
                        .icats__hidden-row

                    button(type='button').icats__more Показать еще
        //- solutions
        section.index__ready
            .iready
                .container
                    .iready__title.title Готовые решения

                    .iready__mwrap
                        .swiper-container.iready__container
                            .swiper-wrapper
                                each i,x in iReadySlides
                                    .swiper-slide.iready__slide
                                        .iready__slide-top
                                            .proportion.proportion_280x160
                                            .iready__slide-img
                                                img(src='images/content/main/ready/slider/'+x+'.jpg').iready__slide-pic
                                            .iready__slide-block
                                                .iready__slide-title= i.title
                                                if i.sws
                                                    .iready__msws
                                                        each sw,swx in i.sws
                                                            div(data-id=swx+1).iready__msw= sw
                                        .iready__slide-bottom
                                            if i.sws
                                                .iready__mtabs
                                                    each tab,tabx in i.sws
                                                        div(data-id=tabx+1).iready__mtab
                                                            each item in i.list
                                                                a(href=item.link).iready__mitem
                                                                    .iready__mitem-title= item.title
                                                                    .iready__mitem-text= item.text
                                            else
                                                .iready__mcontent
                                                    each item in i.list
                                                        a(href=item.link).iready__mitem
                                                            .iready__mitem-title= item.title
                                                            .iready__mitem-text= item.text


                    .iready__wrap
                        //- switches
                        .iready__sws
                            .swiper-container.iready__sws-container
                                .swiper-wrapper
                                    each i,x in iReadySws
                                        div(class=x == 0 ? 'active' : '' data-id=x + 1).iready__sw.swiper-slide
                                            .iready__sw-img
                                                +iconPath('/images/content/main/ready', x + 1,'iready__sw-svg')
                                            .iready__sw-title= i
                        //- tabs
                        .iready__tabs
                            div(data-id='1').iready__tab.active
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__sols
                                    .sols
                                        .sols__sws
                                            button(type='button' data-id='1').sols__sw.active Продовольственная
                                            button(type='button' data-id='2').sols__sw Непродовольственная
                                        .sols__tabs
                                            each i,x in [1,2]
                                                div(data-id=x + 1).sols__tab
                                                    .sols__list
                                                        each j,indx in iReadyTabs2
                                                            .sol
                                                                .row.sol__row
                                                                    .sol__left
                                                                        .sol__img
                                                                            img(src='images/content/main/ready/img' + (indx + 1) + '.svg').isol__img-img
                                                                        .sol__title= j.title
                                                                    .sol__text= j.text
                                                                    .sol__right
                                                                        a(href='market2.html').button.button_t.sol__button Подробнее

                            div(data-id='2').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, cupiditate deleniti laboriosam laudantium nihil omnis qui repudiandae sint suscipit ut! Facere ipsa mollitia possimus reprehenderit sint? Accusamus accusantium architecto blanditiis consequuntur cumque delectus deserunt dicta dolor, doloremque doloribus error esse excepturi facilis fugit hic illo incidunt ipsa ipsum laborum, maxime mollitia neque, non quas quo quos repellat rerum sequi. A ab alias blanditiis culpa deleniti distinctio doloribus esse excepturi facilis, id ipsam iusto minus odio officia, perferendis perspiciatis quae quia quibusdam repudiandae sapiente similique sint tempore temporibus veniam voluptatibus. Ab at eveniet fugiat incidunt natus nostrum pariatur, porro reiciendis sint.
                            div(data-id='3').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, cupiditate deleniti laboriosam laudantium nihil omnis qui repudiandae sint suscipit ut! Facere ipsa mollitia possimus reprehenderit sint? Accusamus accusantium architecto blanditiis consequuntur cumque delectus deserunt dicta dolor, doloremque doloribus error esse excepturi facilis fugit hic illo incidunt ipsa ipsum laborum, maxime mollitia neque, non quas quo quos repellat rerum sequi. A ab alias blanditiis culpa deleniti distinctio doloribus esse excepturi facilis, id ipsam iusto minus odio officia, perferendis perspiciatis quae quia quibusdam repudiandae sapiente similique sint tempore temporibus veniam voluptatibus. Ab at eveniet fugiat incidunt natus nostrum pariatur, porro reiciendis sint.
                            div(data-id='4').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea, explicabo harum ipsa officia placeat quos. Aliquam dicta eum explicabo illo ipsum iste laboriosam necessitatibus nesciunt nobis non quidem quisquam quo repellat, similique tempore vel veritatis voluptate? Ad consectetur exercitationem fuga impedit, minus mollitia, officia perferendis suscipit ut vitae voluptas.
                            div(data-id='5').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea, explicabo harum ipsa officia placeat quos. Aliquam dicta eum explicabo illo ipsum iste laboriosam necessitatibus nesciunt nobis non quidem quisquam quo repellat, similique tempore vel veritatis voluptate? Ad consectetur exercitationem fuga impedit, minus mollitia, officia perferendis suscipit ut vitae voluptas.
                            div(data-id='6').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea, explicabo harum ipsa officia placeat quos. Aliquam dicta eum explicabo illo ipsum iste laboriosam necessitatibus nesciunt nobis non quidem quisquam quo repellat, similique tempore vel veritatis voluptate? Ad consectetur exercitationem fuga impedit, minus mollitia, officia perferendis suscipit ut vitae voluptas.
                            div(data-id='7').iready__tab
                                img(src='images/content/main/ready/bg.jpg').iready__img
                                .iready__content.content
                                    p.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ea, explicabo harum ipsa officia placeat quos. Aliquam dicta eum explicabo illo ipsum iste laboriosam necessitatibus nesciunt nobis non quidem quisquam quo repellat, similique tempore vel veritatis voluptate? Ad consectetur exercitationem fuga impedit, minus mollitia, officia perferendis suscipit ut vitae voluptas.

        //- quiz
        section.index__quiz
            div(style='background-image:url(images/content/main/quiz/bg.jpg)').quiz
                .container
                    .quiz__mtitle.title Нужно индивидуальное решение?
                    form(action='#' method='post').quiz__form
                        .swiper-container.quiz__container
                            .swiper-wrapper
                                .swiper-slide.quiz__slide
                                    .row.quiz__row
                                        //- left
                                        .quiz__left
                                            img(src='images/content/main/quiz/1.png').quiz__img

                                        //- center
                                        .quiz__center
                                            .quiz__title.title Нужно индивидуальное решение?
                                            .quiz__center-top
                                                .quiz__text Подберите торговое оборудование для своего предприятия
                                                .quiz__scrollbar
                                                    .quiz__scrollbar-line
                                            .quiz__sub Выполняется ли хотя бы одно из условий:
                                            ol.quiz__list
                                                li.quiz__li 1. Продажа подъакцизных товаров
                                                li.quiz__li 2. Сезонный характер работы


                                        //- right
                                        .quiz__right
                                            img(src='images/content/main/quiz/2.png').quiz__img

                                    //- buttons
                                    .quiz__buttons
                                        .row.quiz__buttons-row
                                            label.quiz__btn.jsQuizNext
                                                input(type='radio' name='quiz' value=1).quiz__btn-input
                                                .quiz__btn-wrap
                                                    .quiz__btn-top
                                                        .quiz__btn-val Да
                                                        .quiz__btn-fake
                                                            +icon('check','quiz__btn-svg')
                                                    .quiz__btn-text
                                                        | Двусторонний монохромный дисплей покупателя&nbsp;
                                                        span(title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quaerat?').quiz__btn-text_q (?)
                                            label.quiz__btn.jsQuizNext
                                                input(type='radio' name='quiz' value=2).quiz__btn-input
                                                .quiz__btn-wrap
                                                    .quiz__btn-top
                                                        .quiz__btn-val Да
                                                        .quiz__btn-fake
                                                            +icon('check','quiz__btn-svg')
                                                    .quiz__btn-text
                                                        | Цветной монитор покупателя&nbsp;
                                                        span(title='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, quaerat?').quiz__btn-text_q (?)
                                            label.quiz__btn.jsQuizNext
                                                input(type='radio' name='quiz' value=3).quiz__btn-input
                                                .quiz__btn-wrap
                                                    .quiz__btn-top
                                                        .quiz__btn-val Нет
                                                        .quiz__btn-fake
                                                            +icon('check','quiz__btn-svg')
                                                    .quiz__btn-text
                                                        | Цветной монитор покупателя не требуется

                                .swiper-slide.quiz__slide
                                    .row
                                        .quiz__slide-form
                                            .quiz__center-top
                                                .quiz__text.quiz__text_m Подберите торговое оборудование для своего предприятия
                                                .quiz__text.quiz__text_h  Спасибо. Наши специалисты бесплатно подберут необходимое торговое оборудование (несколько вариантов, под разный бюджет) и вышлют на Ваш адрес электронной почты в виде коммерческого предложения
                                                .quiz__scrollbar
                                                    .quiz__scrollbar-line
                                        .quiz__slide-wrap
                                            .quiz__msub Оставьте ваши контакты
                                            .quiz__mtext Мы подберём необходимое торговое оборудование и свяжемся с Вами
                                            .quiz__field
                                                input(type='text' name='quizName' placeholder='Ваше Имя').quiz__input
                                            .quiz__field
                                                input(type='email' name='quizEmail' placeholder='Электронная почта').quiz__input
                                            .quiz__bottom
                                                .quiz__fz
                                                    |Заполняя данную форму Вы соглашаетесь  с
                                                    br
                                                    a(href='/').quiz__fz-link Политикой обработки персональных данных
                                                button(type='submit').button.quiz__submit Подобрать оборудование
                                .swiper-slide.quiz__slide
                                    .quiz__success Спасибо. Ваша заявка принята в работу
        //- chart
        section.index__chart
            .ichart
                .container
                    .ichart__title.title График перехода на онлайн кассы (54-ФЗ)
                    .ichart__list
                        img(src='images/content/main/chart/bg.png').ichart__list-bg
                        .ichart__list-rows
                            each row in iChart
                                .ichart__row
                                    .ichart__row-wrap
                                    each i in row
                                        .ichart__item
                                            .ichart__item-date= i.date
                                            .ichart__line
                                                .ichart__line-before
                                                .ichart__check
                                                    .ichart__check-wrap
                                                        +icon('check','ichart__check-svg')
                                                .ichart__line-after
                                            .ichart__item-text= i.text
                                            if i.last
                                                .ichart__item-after
                                                .ichart__item-arr
                                            .ichart__item-before
                    .ichart__list-t
                        img(src='images/content/main/chart/bg.png').ichart__list-bg
                        .ichart__list-rows
                            each row in iChartT
                                .ichart__row
                                    .ichart__row-wrap
                                    each i in row
                                        .ichart__item
                                            .ichart__item-date= i.date
                                            .ichart__line
                                                .ichart__line-before
                                                .ichart__check
                                                    .ichart__check-wrap
                                                        +icon('check','ichart__check-svg')
                                                .ichart__line-after
                                            .ichart__item-text= i.text
                                            if i.last
                                                .ichart__item-after
                                                .ichart__item-arr
                                            .ichart__item-before

                    .ichart__mlist
                        .ichart__mlist-row
                            each i in iChartM
                                .ichart__mitem
                                    .ichart__item-date= i.date
                                    .ichart__item-text= i.text
                                    .ichart__mline
                                        .ichart__mcheck
                                            .ichart__mcheck-wrap
                                                +icon('check','ichart__mcheck-svg')
                        img(src='images/content/main/chart/bg.png').ichart__list-bg


        //- feed
        section.index__feed
            +feed('','images/icons/call.png')
        //- about
        section.index__about
            .iabout
                .container.iabout__container
                    .iabout__slogan Автоматизация - это индивидуальный комплекс мероприятий, включающий внедрение специализированного оборудования и программных продуктов для значительного повышения эффективности деятельности торгового предприятия.
                    .iabout__text Наша компания занимается автоматизацией магазинов розничной торговли, предприятий общественного питания и складов, разработкой и внедрением индивидуальных решений на основе технических задач, стоящих перед предприятием. Правильно подобранное оборудование позволяет избежать дополнительных расходов и ситуаций, когда предприниматель либо переплачивает за технические характеристики, которые не соответствуют текущим потребностям его предприятия и в которых нет необходимости, либо, наоборот, экономит и приобретает то, что не справляется с имеющимися объемами и задачами, тем самым замедляя весь рабочий процесс. В наши обязанности входит подбор всего необходимого торгового оборудования, регистрация и постановка на учет контрольно-кассовой техники, доставка и монтаж, подключение и настройка, проведение пуско-наладочных работ, обучение кассиров-операционистов и товароведов, гарантийное, сервисное и техническое обслуживание.
                    button(type='button').iabout__button.button.jsCallback Начать сотрудничество


















