include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

    body
        .wrapper
            //- heeader
            header.header
                //- top
                .header__top
                    .container
                        .header__top-row
                            //- city
                            .header__city
                                .city
                                    .city__title Город:
                                    .city__select
                                        select(name='city')
                                            option(value='Москва') Москва
                                            option(value='Город1') Санкт-Петербург
                                            option(value='Город2') Нижний Новгород

                            //- menu
                            .header__menu
                                each i in headerMenu
                                    a(href=i.href).header__item= i.title


                //- middle
                .header__middle
                    .container
                        .row.header__middle-row
                            //- logo
                            .header__logo
                                a(href='/').logo
                                    img(src='images/content/logo.png').logo__img

                            //- search
                            .header__search
                                form.hsearch
                                    input(type='text' name='search' placeholder='онлайн касса АЗУР-01Ф').hsearch__input
                                    button(type='submit').hsearch__button
                                        +icon('loop', 'hsearch__svg')

                            //- buttons
                            .header__buttons
                                //- tel
                                .header__tel
                                    a(href='tel:+7(499)110-38-35').header__tel +7 (499) 110-38-35

                                //- call
                                .header__call
                                    button(type='button').button Заказать звонок

                //- bottom
                .header__bottom
                    .container
                        .row.header__bottom-row
                            //- left
                            .header__left
                                nav.nav
                                    each i in nav
                                        div(class=i.dopClass).nav__item
                                            a(href=i.href).nav__item-link= i.title
                                            if i.subnav
                                                .nav__item-subnav
                                                    .subnav
                                                        .container
                                                            .row
                                                                //- left
                                                                .subnav__left
                                                                    a(href='/').subnav__link= i.subnav.title
                                                                    .subnav__ul
                                                                        a(href='/').subnav__ul-link= i.subnav.list.title
                                                                        .subnav__ul-row
                                                                            each j in i.subnav.list.items
                                                                                a(href='/').subnav__item= j
                                                                //- right
                                                                .subnav__right
                                                                    .row
                                                                        each j in i.subnav.rows
                                                                            .subnav__col
                                                                                each k in j
                                                                                    .subnav__list
                                                                                        a(href='/').subnav__list-link= k.title
                                                                                        .subnav__list-items
                                                                                            if k.items
                                                                                                each l in k.items
                                                                                                    a(href='').subnav__item= l



                            //- right
                            .header__right
                                a(href='/').basket.basket_i
                                    .basket__img
                                        img(src='images/icons/cart.svg').basket__img-img
                                    .basket__price 125 000 руб.


            //- pages
            .page
                block content

            //- footer
            footer.footer
                .footer__subscribe
                    include common/blocks/subscribe
                .container
                    //- top
                    .footer__top
                        .row
                            //- left
                            .footer__left
                                .row
                                    each col in footer
                                        .footer__col
                                            a(href=col.href).footer__title.footer__title_link= col.title
                                            .footer__list
                                                each i in col.list
                                                    a(href=col.href).footer__item= i

                            //- right
                            .footer__right
                                .footer__title Контакты
                                .footer__phones
                                    a(href='tel:+7(499)110-28-25').phone.footer__phone +7 (499) 110-28-25
                                    a(href='tel:+7(499)123-33-44').phone.phone_grey.footer__phone +7 (499) 123-33-44
                                    .footer__phones-comment
                                        | Телефон технической поддержки
                                        br
                                        | Время работы с 9:00 - 20:00
                                .footer__socials.socials
                                    a(href='/' target='_blank').social.social_vk
                                        +icon('vk', 'social__svg')
                                    a(href='/' target='_blank').social.social_fb
                                        +icon('fb', 'social__svg')
                                .footer__buttons
                                    button(type='button').button.footer__button Заказать звонок
                                    button(type='button').button.button_t.footer__button Оставить отзыв

                    //- bottom
                    .footer__bottom
                        .footer__logo
                            a(href='/').logo
                                img(src='images/content/logo.png').logo__img
                        .footer__desc Автоматизация магазинов розничной торговли, предприятий общественного питания (HoReCa), складов. Индивидуальное проектирование и комплексное оснащение, подбор торгового оборудования, доставка и монтаж, подключение и настройка, проведение пуско-наладочных работ, обучение персонала работе с системой, техническое обслуживание. (с) 2019 Все права защищены.




    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div



    script(src='js/vendor.min.js')
    script(src='js/main.min.js')
