include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

    body
        <!--[if lt IE 9]>
            p(class='browserupgrade')
                | You are using an
                strong outdated
                |browser. Please
                a(href="https://browsehappy.com/") upgrade your browser
                | to improve your experience and security.
        <![endif]-->
        .wrapper
            //- heeader
            header.header
                //- top
                .header__top
                    .container
                        .header__top-row
                            //- city
                            .header__city
                                .city
                                    .city__title Город:
                                    .city__select
                                        select(name='city')
                                            option(value='Москва') Москва
                                            option(value='Город1') Санкт-Петербург
                                            option(value='Город2') Нижний Новгород

                            //- menu
                            .header__menu
                                each i in headerMenu
                                    a(href=i.href).header__item= i.title


                //- middle
                .header__middle
                    .container
                        .row.header__middle-row
                            //- logo
                            .header__logo
                                a(href='/').logo
                                    img(src='images/content/logo.png').logo__img

                            //- search
                            .header__search
                                form.hsearch
                                    input(type='text' name='search' placeholder='онлайн касса АЗУР-01Ф').hsearch__input
                                    button(type='submit').hsearch__button
                                        +icon('loop', 'hsearch__svg')

                            //- buttons
                            .header__buttons
                                //- mmenu-button
                                button(type='button').mmenu-button
                                    .mmenu-button__line
                                    .mmenu-button__line
                                    .mmenu-button__line

                                //- tel
                                .header__tel
                                    a(href='tel:+7(499)110-38-35').header__phone +7 (499) 110-38-35

                                //- call
                                .header__call
                                    button(type='button').button Заказать звонок

                                //- mlogo
                                .header__mlogo
                                    a(href='/').logo
                                        img(src='images/content/logo.png').logo__img
                                //- mbasket
                                .header__mbasket
                                    a(href='cart.html').basket.basket_i
                                        .basket__img
                                            +icon('supermarket','basket__img-img')
                                            //img(src='images/icons/cart.svg').basket__img-img
                                        .basket__price 125 000 руб.







                //- bottom
                .header__bottom
                    .container
                        .row.header__bottom-row
                            //- left
                            .header__left
                                nav.nav
                                    each i in nav
                                        div(class=i.dopClass).nav__item
                                            a(href=i.href).nav__item-link= i.title
                                            if i.subnav
                                                .nav__item-subnav
                                                    .subnav
                                                        .container
                                                            .row
                                                                //- left
                                                                .subnav__left
                                                                    a(href='catalog.html').subnav__link= i.subnav.title
                                                                    .subnav__ul
                                                                        a(href='catalog.html').subnav__ul-link= i.subnav.list.title
                                                                        .subnav__ul-row
                                                                            each j in i.subnav.list.items
                                                                                a(href='catalog.html').subnav__item= j
                                                                //- right
                                                                .subnav__right
                                                                    .row
                                                                        each j in i.subnav.rows
                                                                            .subnav__col
                                                                                each k in j
                                                                                    .subnav__list
                                                                                        a(href='catalog.html').subnav__list-link= k.title
                                                                                        .subnav__list-items
                                                                                            if k.items
                                                                                                each l in k.items
                                                                                                    a(href='catalog.html').subnav__item= l



                            //- right
                            .header__right
                                a(href='cart.html').basket.basket_i
                                    .basket__img
                                        +icon('supermarket','basket__img-img')
                                        //img(src='images/icons/cart.svg').basket__img-img
                                    .basket__price 125 000 руб.



                //- fixed
                .header-fixed
                    //- bottom
                    .header__bottom
                        .container
                            .row.header__bottom-row
                                //- left
                                .header__left
                                    nav.nav
                                        each i in nav
                                            div(class=i.dopClass).nav__item
                                                a(href=i.href).nav__item-link= i.title
                                                if i.subnav
                                                    .nav__item-subnav
                                                        .subnav
                                                            .container
                                                                .row
                                                                    //- left
                                                                    .subnav__left
                                                                        a(href='catalog.html').subnav__link= i.subnav.title
                                                                        .subnav__ul
                                                                            a(href='catalog.html').subnav__ul-link= i.subnav.list.title
                                                                            .subnav__ul-row
                                                                                each j in i.subnav.list.items
                                                                                    a(href='catalog.html').subnav__item= j
                                                                    //- right
                                                                    .subnav__right
                                                                        .row
                                                                            each j in i.subnav.rows
                                                                                .subnav__col
                                                                                    each k in j
                                                                                        .subnav__list
                                                                                            a(href='catalog.html').subnav__list-link= k.title
                                                                                            .subnav__list-items
                                                                                                if k.items
                                                                                                    each l in k.items
                                                                                                        a(href='catalog.html').subnav__item= l



                                //- right
                                .header__right
                                    a(href='cart.html').basket.basket_i
                                        .basket__img
                                            +icon('supermarket','basket__img-img')
                                            //img(src='images/icons/cart.svg').basket__img-img
                                        .basket__price 125 000 руб.






            //- pages
            .page
                block content

            //- footer
            footer.footer
                .footer__subscribe
                    include common/blocks/subscribe
                .container
                    //- top
                    .footer__top
                        .row
                            //- mleft
                            .footer__mleft
                                .footer__mleft-top
                                    .footer__mleft-row
                                        each i in ['Каталог','Автоматизация ','Обслуживание', 'Услуги']
                                            a(href='/').footer__mitem= i
                                    .footer__mleft-row
                                        each i in ['ЕГАИС','ФГИС ','Маркировка ', 'ЭЦП']
                                            a(href='/').footer__mitem= i
                                .footer__mleft-bottom
                                    .footer__logo
                                        a(href='/').logo
                                            img(src='images/content/logo.png').logo__img
                                    .footer__desc Автоматизация магазинов розничной торговли, предприятий общественного питания (HoReCa), складов. Индивидуальное проектирование и комплексное оснащение, подбор торгового оборудования, доставка и монтаж, подключение и настройка, проведение пуско-наладочных работ, обучение персонала работе с системой, техническое обслуживание. (с) 2019 Все права защищены.
                            //- left
                            .footer__left
                                .row
                                    each col in footer
                                        .footer__col
                                            a(href=col.href).footer__title.footer__title_link= col.title
                                            .footer__list
                                                each i in col.list
                                                    a(href=col.href).footer__item= i

                            //- right
                            .footer__right
                                .footer__title Контакты
                                .footer__phones
                                    a(href='tel:+7(499)110-28-25').phone.footer__phone.footer__phone_m +7 (499) 110-28-25
                                    //a(href='tel:+7(499)123-33-44').phone.phone_grey.footer__phone +7 (499) 123-33-44
                                    a(href='mailto:info@inthestore.ru').footer__mail info@inthestore.ru
                                    .footer__phones-comment
                                        | Время работы с 9:00 - 20:00
                                    a(href='/').footer__addr
                                        |143409, Московская область,
                                        br
                                        |г. Красногорск, ул. Ленина,
                                        br
                                        |д. 38-б, офис 88

                                .footer__socials.socials
                                    a(href='/' target='_blank').social.social_vk
                                        +icon('vk', 'social__svg')
                                    a(href='/' target='_blank').social.social_fb
                                        +icon('fb', 'social__svg')
                                .footer__buttons
                                    button(type='button').button.footer__button Заказать звонок
                                    button(type='button').button.button_t.footer__button Оставить отзыв

                    //- bottom
                    .footer__bottom
                        .footer__logo
                            a(href='/').logo
                                img(src='images/content/logo.png').logo__img
                        .footer__desc Автоматизация магазинов розничной торговли, предприятий общественного питания (HoReCa), складов. Индивидуальное проектирование и комплексное оснащение, подбор торгового оборудования, доставка и монтаж, подключение и настройка, проведение пуско-наладочных работ, обучение персонала работе с системой, техническое обслуживание. (с) 2019 Все права защищены.




                .footer__mobile
                            a(href='tel:+7(499)110-38-35').footer__mobile-phone +7 (499) 110-38-35
                            button(type='button').button.button_y.footer__mobile-button Позвонить
    .debug
        div
            div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div
                div




    //- mmenu
    .mmenu
        .mmenu__main
            .mmenu__top
                //- button
                button(type='button').mmenu__button.mmenu__close
                    +icon('left-arrow','mmenu__button-svg')
                    .mmenu__button-title Меню
                //- search
                a(href='search.html').mmenu__search-button
                    +icon('search', 'mmenu__search-open')
                    +icon('close', 'mmenu__search-close')
            .mmenu__list
                .mmenu__item
                    a(href='#').mmenu__item-link
                        .mmenu__item-title Ваш город
                        .mmenu__item-city Москва
                        .mmenu__item-arrow
                    .mmenu__wrapper
                        //- top
                        .mmenu__top
                            //- button
                            button(type='button').mmenu__button.mmenu__prev
                                +icon('left-arrow','mmenu__button-svg')
                                .mmenu__button-title Назад
                            //- search
                            a(href='search.html').mmenu__search-button
                                +icon('search', 'mmenu__search-open')
                                +icon('close', 'mmenu__search-close')
                        //- list
                        .mmenu__list
                            each c in mmenu.citys
                                .mmenu__item
                                    //- link
                                    a(href='#').mmenu__item-link.subitem2.mmenu__city
                                        .mmenu__item-title= c
                each i in mmenu.list
                    .mmenu__item
                        //- link
                        a(href=i.link class=i.dopClass).mmenu__item-link
                            .mmenu__item-title= i.title
                            if i.list
                                .mmenu__item-arrow
                        if i.list
                            //- wrapper
                            .mmenu__wrapper
                                //- top
                                .mmenu__top
                                    //- button
                                    button(type='button').mmenu__button.mmenu__prev
                                        +icon('left-arrow','mmenu__button-svg')
                                        .mmenu__button-title Назад
                                    //- search
                                    a(href='search.html').mmenu__search-button
                                        +icon('search', 'mmenu__search-open')
                                        +icon('close', 'mmenu__search-close')
                                //- link
                                a(href=i.link).mmenu__link= i.title
                                //-list
                                .mmenu__list
                                    each j in i.list
                                        .mmenu__item
                                            //- link
                                            a(href=j.link class=j.dopClass).mmenu__item-link.subitem
                                                .mmenu__item-title= j.title
                                                if j.list
                                                    .mmenu__item-arrow
                                            if j.list
                                                //- wrapper
                                                .mmenu__wrapper
                                                    //- top
                                                    .mmenu__top
                                                        //- button
                                                        button(type='button').mmenu__button.mmenu__prev
                                                            +icon('left-arrow','mmenu__button-svg')
                                                            .mmenu__button-title Назад
                                                        //- search
                                                        a(href='search.html').mmenu__search-button
                                                            +icon('search', 'mmenu__search-open')
                                                            +icon('close', 'mmenu__search-close')
                                                    //- link
                                                    a(href=j.link).mmenu__link= j.title
                                                    //- list
                                                    .mmenu__list
                                                        each k in j.list
                                                            .mmenu__item
                                                                //- link
                                                                a(href=k.link class=j.dopClass).mmenu__item-link.subitem2
                                                                    .mmenu__item-title= k.title


    script(src='js/vendor.min.js')
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU' type='text/javascript')
    script(src='js/main.min.js')
